body{
    background-color: rgb(169,169,169);
    background-size: contain;
    background-repeat: no-repeat;
    font-family: 'Montserrat', sans-serif;
}
.intro{
    background-image: url('../images/profile.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    margin: 0;
    font-family: 'Permanent Marker', cursive;
    font-size: 11px;
}
.intro h1{
  padding-top: 1%;
  text-align: center;
  text-transform: uppercase;
  font-size: 700%;
}
.intro h2{
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  margin-left: 35%;
  margin-right: 35%;
  font-size: 200%;
}
.intro a{
  text-decoration: none;
  color: white;
  font-size: 200%;
}
.intro p:hover{
  background-color: black;
}
.intro p{
  width: 20%;
  text-align: center;
  text-transform: uppercase;
  border: 2px solid black;
  margin-left: 40%;
  background-color: rgba(0, 0, 0, 0.5);
}
.intro img{
  width:20%;
  padding-left: 40%;
  padding-right: 40%;
  border-radius: 100%;
}
#work{
  width:20%;
  margin-left: 40%;
  margin-right: 40%;
}
h1, h2, h3{
  text-transform: uppercase;
}
.about{
  padding:3%;
  background-image: url('../images/back.jpeg');
  background-size: cover;
}
.column{
  text-align: justify;
  width:60%;
  padding-left: 20%;
}
.column h1{
  text-align: center;
}
.contacts{
  width: 80%;
  display:flex;
  font-size: 10px;
  justify-content: space-around;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
}
.contacts img{
  width: 60%;
  padding: 10%;
}
.contacts img:hover{
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 100%;
}
.social{
  width: 20%;
  padding-left: 3%
}

.projects{
  background-image: url('../images/back.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  clear: both;
  text-align: center;
  display:flex;
  flex-direction: column;
  padding:1%;
  margin-top: 1%;
  background-color: rgba(255, 255, 255, 0.8);
}
.proj a{
  text-decoration: none;
}
.proj a:hover{
  background-color: rgba(255, 255, 255, 0.8);
}
.proj img{
  width: 56%;
  margin-left: 15%;
  margin-right: 15%;
  padding: 1%;
}
.proj img:hover{
  background-color: rgba(255, 255, 255, 0.8);
}
.proj p{
  text-align: justify;
  padding-left: 25%;
  padding-right: 25%;
}
@media only screen and (max-width: 620px ){
  .intro h1{
      font-size: 400%;
  }
  .intro h2{
    font-size: 150%;
  }
  .intro a{
    text-decoration: none;
    color: white;
    font-size: 150%;
  }
}
