*{
  font-family: sans-serif;
}

.about{
    background-color: grey;
}
.intro{
    background-image: url('../images/intro.jpeg');
}
.intro h1{
  text-align: center;
  text-transform: uppercase;
  font-size: xx-large
}
.intro h2{
  text-align: center;
}
.intro p{
  width: 20%;
  text-align: center;
  text-transform: uppercase;
  border: 2px solid white;
  margin-left: 40%;
}
.social{
  width: 50px;
}
#work{
  width:20%;
  margin-left: 40%;
  margin-right: 40%;
}
